<nav class="navbar navbar-expand-md navbar-dark bg-primary text-white">
  <div class="container">
    <a href="#" class="navbar-brand">
      <h3 class="mb-0">Book Shop</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#myNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact Us</a>
        </li>
      </ul>

      <form name="logoutForm" method="post" th:hidden="true">
        <input type="submit" hidden value="Sign Out" />
      </form>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-3">
    <div class="col d-flex justify-content-end">
      <i class="fas fa-shopping-cart fa-3x me-1 my-2"></i>
      <span
        class="text-black bg-success p-3 rounded mb-2 h2">{{ (cartService.$cart | async)?.['length'] }}</span>
    </div>
  </div>
</div>
