<!DOCTYPE html>
<html lang="en" th:replace="layouts/masterLayout::layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main role="main">

    <form th:action="@{/save-update/book}" th:object="${book}" method="post">

        <div class="form-group">
            <label for="author">Author</label>
            <select id="author" th:field="*{author.id}" class="form-control">
                <option th:each="auth :${authors}" th:value="${auth.id}" th:text="${auth.name}"></option>

            </select>
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" step="any" id="title" th:field="*{title}"
                   th:classappend="${#fields.hasErrors('title')}?'is-invalid'" class="form-control" >
            <small th:if="${#fields.hasErrors('title')}" class="invalid-feedback" th:errors="*{title}"></small>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step="any" id="price" th:field="*{price}"
                   th:classappend="${#fields.hasErrors('price')}?'is-invalid'" class="form-control" >
            <small th:if="${#fields.hasErrors('price')}" class="invalid-feedback" th:errors="*{price}"></small>
        </div>

        <div class="form-group">
            <label for="imageUrl">Image Url</label>
            <input type="text" step="any" id="imageUrl" th:field="*{imageUrl}"
                   th:classappend="${#fields.hasErrors('imageUrl')}?'is-invalid'"  class="form-control">
            <small th:if="${#fields.hasErrors('imageUrl')}" class="invalid-feedback" th:errors="*{imageUrl}"></small>
        </div>

        <div class="form-group">
            <label for="publisher">Publisher</label>
            <input type="text" step="any" id="publisher" th:field="*{publisher}"
                   th:classappend="${#fields.hasErrors('publisher')}?'is-invalid'" class="form-control" >
            <small th:if="${#fields.hasErrors('publisher')}" class="invalid-feedback" th:errors="*{publisher}"></small>
        </div>


        <input type="submit" value="Update Book" class="btn btn-secondary">
    </form>
</main>
</body>
</html>